[submodule "w2d4/lib/forge-std"]
	path = w2d4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w2d4/lib/openzeppelin-contracts"]
	path = w2d4/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w2d5/lib/forge-std"]
	path = w2d5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w2d5/lib/openzeppelin-contracts"]
	path = w2d5/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w2d7/openspace-nftrent-study/contracts/lib/forge-std"]
	path = w2d7/openspace-nftrent-study/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w2d7/openspace-nftrent-study/contracts/lib/openzeppelin-contracts"]
	path = w2d7/openspace-nftrent-study/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w3d4/lib/forge-std"]
	path = w3d4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w3d4/lib/openzeppelin-contracts"]
	path = w3d4/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4d1-可升级的 nft/lib/forge-std"]
	path = w4d1-可升级的 nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1/upgradeable-nft-market/lib/forge-std"]
	path = w4d1/upgradeable-nft-market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
